body{
    padding: 0;
    margin: 0;
    font-size: 1.25rem;
}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.nav ul li a {
    text-decoration: none;
    color: rgb(228, 73, 12);
    padding: 10px 15px;
    display: block;
    border: rgb(247, 186, 107) solid 2px;
    border-radius: 15px;
    margin: 6px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}
.info{
    border-radius: 15px;
    border: rgb(247, 186, 107) solid 2px;
    width: 320px;
    margin-top: 12px;
    padding: 8px;
    cursor: pointer;
}
.info a{
    text-decoration: none;
    color: rgb(228, 73, 12);
}